@font-face {
    font-family: 'gyahegi';
    src: url('https://fontbundles.net/hishand-studio/1275290-gyahegi-serif-font');
}

* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: white;
}

#user-name {
    display: none;
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin-left: 10px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: whitesmoke;
    height: 80px;
    margin-bottom: 3%;
}

/* after register */
#user-name::after {
    content: " ";
}

#user-name a {
    margin-left: 15px;
}

#user-name a:hover {
    color: rgb(125, 47, 105);
}

/*  */

#mid {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    font-size: 20px;
}
a:hover{
    font-weight: bolder;
    cursor : pointer;
}
button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

#logo img {
    height: 90px;
    margin-left: 10px;

}

/* ----------card/1------------ */

/* Left C img */

.C-shape {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    width: 75%;
}

.C-shape .C-shape1 {
    display: flex;
    flex-direction: row-reverse;
}

.C-shape .C-shape1 img {
    width: 50%;

}

/* Card part */
#card-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* ------------------------- */

/* B part */
/* ------------------------- */
.first,
#second,
#third {
    display: flex;
    margin: auto;
    width: 70%;
    align-items: center;
    word-spacing: 5px;
    line-height: 7px;
}
/* first */
.first {
    gap: 5%;
}

.first-1 {
    display: flex;
    align-items: center;
    gap: 17%;
}

.first h2 {
    margin-left: 5%;
    font-size: 90px;

}

.first-1 #first-img-div1 {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 50%;
    transform: rotate(-45deg);
}

.first-1 #first-img-div {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 10%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    transform: rotate(313deg);
}

.first-1 .B1-0-1 {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 60%;
}

.first-1 .B1-0-0 {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 10%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.B1-0-1 {
    border: 1px solid black;
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.B1-0-0 {
    border: 1px solid black;
    width: 70px;
    height: 70px;
    object-fit: cover;
}


/* Third -img in card */
#third {
    gap: 2%;
}
#third h2{
    font-size: 90px;
}
.B1 {
    width: 9%;
}

.B1 .B1-1 {
    display: flex;
    justify-content: center;
}

.B1 .B1-1 img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#second {
    display: flex;
    justify-content: space-between;
}
#second h2{
    font-size: 90px;
}
#second p {
    width: 90%;
    font-size: 20px;
    line-height: 30px;
}

#second div {
    margin-right: 5%;
}

h2 {
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
}

/* ------ Image Shape------------------------------------------------------*/

.card-2 {
    padding-top: 5%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

/* Shape-1 */

.card-2 .Sh-1 {
    border: 2px solid black;
    height: 400px;
    width: 17%;
    margin-top: 30px;
    border-top-left-radius: 160px;
    border-top-right-radius: 160px;
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
    display: flex;
    justify-content: center;
}

.card-2 .Sh-1 #Sh-1-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    width: 80%;
    object-fit: cover;
    border-top-left-radius: 160px;
    border-top-right-radius: 160px;
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
}


/* Shape-2 */
.card-2 .Sh-2 {
    border: 2px solid black;
    height: 400px;
    width: 17%;
    margin-top: 30px;
    transform: rotate(20deg);
    display: flex;
    justify-content: center;
}

.card-2 .Sh-2 #Sh-2-1 {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 340px;
    width: 80%;
    margin-top: 30px;
    object-fit: cover;
}


/* Shape-3 */

.card-2 .Sh-3 {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    height: 400px;
    width: 17%;
    border-top-left-radius: 160px;
    border-top-right-radius: 160px;
    margin-top: 30px;
}

.card-2 .Sh-3 #Sh-3-1 {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 340px;
    width: 85%;
    border-top-left-radius: 160px;
    border-top-right-radius: 160px;
    margin-top: 30px;
    object-fit: cover;
}


/* -------card-3---------- */
.card-3 {
    width: 100%;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-3 #Head-1 {
    width: 60%;
    text-align: center;
}

.card-3 #box-1 {
    border-radius: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*--------- left Box part----------- */
.card-3 #box-1 .div-left {
    position: relative;
    width: 100%;
    display: inline-flex;
}

.card-3 #box-1 .div-left #box-1-Div-1 {
    position: absolute;
    /* border: 2px solid black; */
    width: 50%;
    height: 300px;
    transform: rotate(-7deg);
}

.card-3 #box-1 .div-left #box-1-Div-1 img {
    width: 100%;
}

.card-3 #box-1 .div-left #box-1-Div-2 {
    position: absolute;
    border: 1px solid blueviolet;
    background-color: brown;
    margin-left: 30%;
    margin-top: 10%;
    width: 50%;
    height: 300px;
    transform: rotate(2deg);
}

.card-3 #box-1 .div-left #box-1-Div-2 img {
    width: 100%;
}

.card-3 #box-1 .div-left #box-1-Div-3 {
    position: relative;
    border: 1px solid blueviolet;
    background-color: greenyellow;
    margin-left: 10%;
    margin-top: 27%;
    width: 45%;
    height: 300px;
    transform: rotate(-5deg);
}

.card-3 #box-1 .div-left #box-1-Div-3 img {
    width: 100%;
}

/*--------- Right Box part----------- */
.card-3 #box-1 .div-right {
    width: 50%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.card-3 #box-1 .div-right .Font-ch {
    font-size: 50px;
    margin: auto;
    font-weight: lighter;
}

/* -----------Amazing Box---------- */
.card-4 {
    background-color: rgb(255, 250, 245);
    margin-top: 5%;
    width: 100%;
}

#box-4-1 {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 10%;
}

#box-4-1 #Head-2 {
    width: 51%;
}

#box-4-1 #Head-2 p {
    font-size: large;
    line-break: auto;
    line-height: 40px;
}

#box-4-1 .sh-4-1 {
    background-color: white;
    border: 2px solid black;
    margin-top: 5%;
    width: 28%;
    height: 390px;
    transform: rotate(12deg);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#box-4-1 .sh-4-1 #card-4-img {
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

/* box-2 */

#box-4-2 {
    width: 85%;
    display: flex;
    margin: auto;
    align-items: end;
    padding: 5%;
}

#box-4-2 .Sh-4-2 {
    border: 2px solid black;
    padding: 15px;
    display: flex;
    justify-content: center;
    height: 550px;
    width: 35%;
    border-top-left-radius: 220px;
    border-top-right-radius: 220px;
    margin-top: -80px;
}

#box-4-2 .Sh-4-2 #card-4-2-img {
    /* padding: 5px; */
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}

#box-4-2 .mis-details {
    margin: auto;
    width: 23%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
}

#box-4-2 .mis-details h4 {
    font-size: 20px;
    color: rgb(62, 178, 121);
    font-family: Arial, Helvetica, sans-serif;
}

#box-4-2 .mis-details h2 {
    width: 90%;
    margin-top: -3px;
    text-align: start;
    font-size: 35px;
}

/*  */

/*  */
#box-4-2 .mis-details1 {
    padding: 2%;
    margin: auto;
    width: 30%;
    font-size: 20px;
    line-height: 30px;
}

/* Best Way To learn part */
.card-5 {
    margin-top: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card-5 .card-5-top {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-5 .card-5-btm {
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 5%;
}

/*Left part  */
.card-5 .card-5-btm .crd-5-left {
    width: 40%;
}

.card-5 .card-5-btm .crd-5-left p {
    width: 95%;
    font-size: larger;
    text-align: start;
    line-height: 40px;
}

.card-5 .card-5-btm .crd-5-left h2 {
    font-size: 25px;
}

.card-5 .card-5-btm .crd-5-left #activity-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

.card-5 .card-5-btm .crd-5-left #activity-grid ol a {
    line-height: 25px;
    font-size: 25px;
    color: rgb(109, 100, 100);
    ;
}

.card-5 .card-5-btm .crd-5-left #activity-grid ol a:hover {
    color: black;
    font-weight: bolder;
}

.card-5 .card-5-btm #activity-rec {
    border: 2px solid black;
    padding: 1%;
    margin: auto;
    width: 55%;
    transform: rotate(10deg);
}

.card-5 .card-5-btm #activity-rec img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

/* Mid part */
.card-5-btm .crd-5-mid {
    border: 1.5px solid black;
    height: auto;
}

/* right */
.card-5-btm .crd-5-right {
    width: 35%;
}

.card-5-btm .crd-5-right .crd-5-right1 {
    border: 2px solid black;
    height: 315px;
    width: 40%;
    border-top-left-radius: 160px;
    border-top-right-radius: 160px;
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.card-5-btm .crd-5-right .crd-5-right1 #crd-5-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 85%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 160px;
    border-top-right-radius: 160px;
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
}

.card-5-btm .crd-5-right h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-align: center;
}

.card-5-btm .crd-5-right a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}

.card-5-btm .crd-5-right a:hover {
    color: rgb(16, 165, 16);
}

/* SUbscribe part------------- */

.Subscribe-card {
    width: 100%;
    padding: 5%;
}

.Subscribe-card .Subs-top {
    display: flex;
    justify-content: center;
}

.Subs-bottom {
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: space-evenly;

}

.Subs-bottom .btm-circle {
    border: 2px solid black;
    width: 18%;
    height: 220px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Subs-bottom .btm-circle .btm-inner-circle {
    border: 1px solid black;
    width: 85%;
    height: 190px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.Subs-bottom .subs-mid {
    margin: auto;
    width: 40%;
}

.Subs-bottom .subs-mid p {
    text-align: center;
}

.Subs-bottom .subs-mid .Ema input {
    width: 100%;
    background-color: whitesmoke;
    max-width: none;
    border: none;
    height: 30px;
}

.Subs-bottom .subs-mid .Ema {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
}

.subs-mid .sub-email-line {
    border: 1px solid black;
}

.Subs-bottom .btm-rec {
    border: 2px solid black;
    width: 16%;
    height: 220px;
    transform: rotate(12deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Subs-bottom .btm-rec .inner-btm-rec {
    border: 1px solid black;
    width: 85%;
    height: 180px;
    object-fit: cover;
    object-position: center;
}

/* Fotter-------- */

footer {
    background-color: rgb(255, 250, 245);

}

.Fotter-card {
    margin-top: 5%;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#Footer-left {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    line-height: 7px;
}

#Footer-left h2 {
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
}


#Fotter-Line {
    border: 1px solid grey;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 290px;
    transform: rotate(20deg);
}

#Fotter-right {
    padding: 45px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Fotter-right div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Fotter-right .Right-line {
    border: 1px solid rgba(128, 128, 128, 0.267);
}

#Fotter-right p {
    color: rgba(128, 128, 128, 0.723);
}

footer .Lines {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80%;
    border: 1px solid rgba(128, 128, 128, 0.267);

}

footer #bottom-footer {
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
}


/* media Queries */

@media only screen and (min-width: 568px) and (max-width: 800px) {
    nav {
      height: 80px;
    }
    
    #logo img {
      height: 90px;
    }
    
    #card-1 {
      padding-top: 5%;
    }
    
    .first {
      gap: 20px;
      margin-top: 20px;
    }
    
    .first h2 {
      font-size: 60px;
    }
    
    .first-1 #first-img-div1, 
    .first-1 #first-img-div, 
    .B1-0-1, 
    .B1-0-0, 
    .B1-1 {
      width: 70px;
      height: 70px;
    }
    
    .B1-1 img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    
    #second h2,
    #third h2 {
      font-size: 80px;
    }
    
    #second p {
      font-size: 20px;
      line-height: 30px;
    }
    
    .C-shape {
      position: relative;
      width: 100%;
    }
    
    .C-shape .C-shape1 {
      flex-direction: row;
    }
    
    .C-shape .C-shape1 img {
      width: 100%;
      height: auto;
    }
    
    .card-2 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .card-3 #box-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

  .card-4 #box-4-1 ,#box-4-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
  }
  .card-5 .card-5-btm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
  }
  .Subscribe-card .Subs-bottom {
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
  }
  .Fotter-card{
    display: flex;
    /* gap: 50px; */
    flex-direction: column;
    justify-content: center;
    align-items:center ;
  }
  #Fotter-Line {
    display: none;
  }
  #Fotter-right{
    width: 50%;
  }
  footer #bottom-footer {
    margin-top: 2%;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
}
}
@media only screen and (max-width: 568px) {
    nav {
      height: 60px;
    }
    
    #logo img {
      height: 60px;
    }
    
    #card-1 {
      padding-top: 10%;
    }
    
   
    .first-1 #first-img-div1, 
    .first-1 #first-img-div, 
    .B1-0-1, 
    .B1-0-0, 
    .B1-1 {
      width: 50px;
      height: 50px;
    }
    
    .B1-1 img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    
    #second h2,
    #third h2 {
      font-size: 80px;
    }
    
    #second p {
      font-size: 20px;
      line-height: 30px;
    }
    
    .C-shape {
      position: relative;
      width: 100%;
    }
    
    .C-shape .C-shape1 {
      flex-direction: row;
    }
    
    .C-shape .C-shape1 img {
      width: 100%;
      height: auto;
    }
    
    .card-2 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .card-3 #box-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

  .card-4 #box-4-1 ,#box-4-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
  }
  .card-5 .card-5-btm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
  }
  .Subscribe-card .Subs-bottom {
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
  }
  .Fotter-card{
    display: flex;
    /* gap: 50px; */
    flex-direction: column;
    justify-content: center;
    align-items:center ;
  }
  #Fotter-Line {
    display: none;
  }
  #Fotter-right{
    width: 50%;
  }
  footer #bottom-footer {
    margin-top: 2%;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
}
  }
  