* {
    box-sizing: border-box
}

body {
    /* font-family: Verdana, sans-serif; */
    margin: 0
}




/* navrbar */
#user-name {
    display: none;
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin-left: 10px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    height: 80px;
    margin-bottom: 3%;
}

#mid {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    font-size: 20px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

#logo img {
    height: 90px;
    margin-left: 10px;

}

.mySlides {
    display: none
}

.mySlides {
    width: 100%;
}

.mySlides img {
    height: 500px;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 95%;
    position: relative;
    margin: auto;
    height: 500px;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: hsl(0, 0%, 3%);
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}


* {
    margin: 0;
    padding: 0;
    /* font-family: "montserrat",sans-serif; */
}

.testimonials {
    padding: 40px 0;
    background: #f1f1f1;
    color: #434343;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.inner {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.border {
    width: 160px;
    height: 5px;
    background: #6ab04c;
    margin: 26px auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    flex: 30%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.testimonial {
    background: #fff;
    padding: 30px;
}

.testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}

.stars {
    color: #6ab04c;
    margin-bottom: 20px;
}


@media screen and (max-width:960px) {
    .col {
        flex: 100%;
        max-width: 80%;
    }
}

@media screen and (max-width:600px) {
    .col {
        flex: 100%;
        max-width: 100%;
    }
}

.parent {
    font-size: 16px;
    text-transform: uppercase;
    margin: 15px 0;
}


/* footer */
footer {
    background-color: rgb(255, 250, 245);

}

.Fotter-card {
    /* margin-top: 5%; */
    padding-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#Footer-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    /* line-height: 7px; */
}

#Footer-left h2 {
    /* margin-top: -40px; */
    /* margin: auto; */
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
}


#Fotter-Line {
    border: 1px solid grey;
    /* margin-top: 5%; */
    display: flex;
    justify-content: center;
    align-content: center;
    height: 290px;
    transform: rotate(20deg);
}

#Fotter-right {
    /* padding: px; */
    width: 25%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* border: 1px solid red; */
    line-height: 2.1rem ;
}

#Fotter-right div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

#Fotter-right .Right-line {
    border: 1px solid rgba(128, 128, 128, 0.267);
}

#Fotter-right p {
    color: rgba(128, 128, 128, 0.723);
}

footer .Lines {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80%;
    border: 1px solid rgba(128, 128, 128, 0.267);

}

footer #bottom-footer {
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
}

/* navbar */
